.clientd{
    max-width: 85%;
    margin: auto;
    padding-top: 30px;
}
.clientd .head{
    display: flex;
    justify-content: space-between;
}
.clientd .head .links a{
    margin-right: 20px;
}
.clientd .c-container{
    margin-top: 30px;
    background: #fff;
    border: 1px solid #bdb9b9;
    border-radius: 10px;
    margin-bottom: 2.5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}
.clientd .c-container .row{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 20px;
    border-bottom: 1px solid #bdb9b9;
}
.clientd .c-container .row .desc{
    display: flex;
    flex-basis: 31%;
    justify-content: space-around;
    text-align: center;
}
.clientd .btn{
    border: 1.5px solid #38d16a;
    border-radius: 5px;
    color: #10221b;
    cursor: pointer;
    background: #38d16a;
    padding: 10px 20px;
  }
@media screen and (max-width: 700px) {
    .clientd .c-container .row .desc{
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    .clientd .head{
        flex-direction: column;
    }
    .clientd .head .links{
        padding-top: 15px;
    }
}
