.enrollment-confirmation-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .enrollment-confirmation-container h2 {
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .enrollment-confirmation-container p {
    color: #000;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .redirect-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #38d16a;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .redirect-button:hover {
    background-color: #26994d;
  }
  